/*Start global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body {
    width: 100%;
    height: 100%;
    background: url("images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
}

section {
    padding: 1rem;
    overflow-x: hidden;
    text-align: center;
}

a {
    text-decoration: none;
    color: #eee;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 3px;
    word-spacing: 2px;
}

img {
    width: 100%;
}

/*End global*/


/*Start reusable*/

.container {
    width: 90%;
    max-width: 100rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

.section-heading {
    text-align: center;
    margin-top: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1:after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading {
    padding-bottom: 2rem;
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right {
    margin-right: 5rem;
}


/*End reusable*/


/*Start header*/

header {
    width: 100%;
    max-width: 80rem;
    height: 50vh;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 .8rem;
}

.nav-link {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 3rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-fill-color:transparent; */
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, #ffe838, #fd57bf);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 20rem;
    font-family: 'Poiret One', cursive;
    background: linear-gradient(to top, #f8f1ff, #656176);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    /* user-select: none; */
}

.rubber-letter {
    transition: 0.2s ease-in-out color;
}

.rubber-letter:hover {
    display:inline-block;
    cursor:pointer;
    animation: rubberLater 1s ease-in-out forwards;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/* 
.landing-text .s1:hover,
.landing-text .s1:focus {
    background: linear-gradient(to bottom, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.landing-text h6 {
    font-size: 2rem;
    font-weight: 300;
    background: linear-gradient(to top, #f8f1ff, #656176);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*End header*/

.about2 {
    height: 50vh;
    margin-top: 50px;
}

.about2 h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.about2 container {
    padding: 0 100px 0 100px;
}

.about-me-info {
    max-width: 900px;
    background-color: #252627;
    /* opacity: 0.8; */
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
    padding: 50px;
    position: relative;
    top: -60px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.about-me-info p {
    font-size: 1.5rem;
    color: #f8f1ff;
    letter-spacing: 3px;
    word-spacing: 2px;
    text-align: center;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top: 30px;
}

.img-container {
    /* margin: 5rem 5rem 5rem 5rem; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.emoji {
    font-size: 2rem;
}


/*Start about*/

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .3;
    z-index: 1;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
    z-index: 0;
}

.profile-img {
    flex: 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-right: 5rem;
}

.about-details {
    flex: 1;
}

.social-media {
    margin-top: 5rem;
}

.social-media i {
    font-size: 5rem;
    transition: color 650ms;
}

.fa-linkedin-in:hover {
    color: #4267b2;
}


/*End about*/


/*Start education*/

.my-education {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.my-education i {
    font-size: 5rem;
    /* transition: color 650ms; */
}

.my-education h1 {
    margin-top: 1rem;
    font-size: 4rem;
}

.my-education h6 {
    font-size: 3rem;
}

.my-education .section-heading p {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2rem;
}


/* End education */


/* Start experience */


/* End Experience */


/* Start skills */

.skills {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.my-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.my-skills h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem 2rem 2rem 2rem;
    padding-top: 2rem;
}

.my-skills .icon-container {
    width: 8rem;
    height: 8rem;
    border: 3px solid #ffe838;
    background-color: #fd57bf;
    margin-bottom: 3rem;
    display: flex;
    /* transform: rotate(45deg); */
}

.skills-item img {
    width: 90%;
    height: auto;
}

.centered {
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #16162d;
    position: relative;
    font-weight: 300;
}

.skills-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.centered p {
    padding-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}


/* End Skills */


/*Start projects*/
.projects {
    text-align: center;
}
.projects h6 {
    margin-bottom: 5rem;
}

.projects-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.projects-item:last-child {
    margin-bottom: 0;
}

.projects-img {
    flex: 1;
    width: 50rem;
    height: auto;
    object-fit: cover;
}

.projects-description {
    flex: 1;
}

.projects-description h1 {
    font-size: 2rem;
    color: #3883ff;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
}

.projects-description h6 {
    font-size: 4rem;
    font-weight: 300;
    margin: 1rem 0;
    opacity: 0.3;
}


/* End projects */


/*Start timeline*/

.timeline {
    transform : translateX(7rem);
}
.timeline ul {
    border-left: 2px solid #656176;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding-left: 5rem;
    padding-top: 2rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline p {
    color: #f8f1ff;
}

.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before {
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 2psx #1B4F72;
    border-radius: 100%;
    left: -6.8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #decdf5;
}

.contact h6 {
    margin: 4rem;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4rem;
}


/*End timeline*/


/*Start Volunteer */


.volunteer {
    text-align: center;
}

.timeline2 {
    position: relative;
    margin: 10px 0;
    width: inherit;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    display : inline-block;
}

.timeline2 ul {
    margin: 0;
    padding: 0;
}

.timeline2:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline2 ul li {
    list-style: none;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 20px;
    box-sizing: border-box;
}

.timeline2 ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline2 ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline2 ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 40px;
    right: 0.1rem;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline2 ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0.5rem;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline2 ul li h1 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: rgba(233, 33, 99, 0.5);
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.timeline2 ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline2 ul li .time h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.timeline2 ul li:nth-child(odd) .time {
    position: absolute;
    top: 3rem;
    right: -12rem;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 10px;
}

.timeline2 ul li:nth-child(even) .time {
    position: absolute;
    top: 3rem;
    left: -12rem;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 10px;
}


/* End volunteer */


/*Start contact*/


/*End contact*/


/*Start footer*/


/*End footer*/


/*Start animations*/

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70% {
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}


/*End animations*/


/*Start media queries*/



@media screen and (max-width:500px) {
    body {
        background: url("images/sitebg.jpg") no-repeat center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .header {
        height: 10rem;
    }
    .section-heading p {
        font-size : 1.2rem;
    }
    .menu-toggler {
        top: 2rem;
        right: 2rem;
    }
    .landing-text h1 {
        font-size: 8rem;
    }
    .landing-text h6 {
        font-size: 3rem;
    }
    .nav-link {
        font-size: 3.5rem;
    }
    
    .icon-container {
        display: inline-block;
    }


    .my-education {
        margin-top: 5rem;
        display: grid;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    
    .my-education i {
        font-size: 5rem;
        text-align: center;
        margin: auto;
    }
    
    .my-education h1 {
        margin-top: 1rem;
        font-size: 2rem;
    }
    
    .my-education h6 {
        font-size: 1rem;
    }
    
    
    .about .container {
        flex-direction: column;
    }
    .profile-img {
        margin: 0 0 7rem 0;
    }

    .skills-item {
        flex-direction : column;
        display: block;
    }

    .centered {
        display: block;
        width: inherit;
    }
    .experience {
        text-align: center;
    }
    .timeline {
        transform: translateX(5rem);
    }
    .my-skills {
        display: block;
    }
    .timeline p {
        font-size: 1.2rem;
    }
    .timeline .date::before {
        font-size: 1.4rem;
    }
    .up {
        right: 2rem;
    }

    .projects h6 {
        margin-bottom: 5rem;
    }
    
    .projects-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }
    
    .projects-item:last-child {
        margin-bottom: 0;
    }
    
    .projects-img {
        flex: 1;
        width: 50rem;
        height: auto;
        object-fit: cover;
    }
    
    .projects-description {
        flex: 1;
    }
    
    .projects-description h1 {
        font-size: 2rem;
        color: #3883ff;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    
    .projects-description h6 {
        font-size: 4rem;
        font-weight: 300;
        margin: 1rem 0;
        opacity: 0.3;
    } 
    
    .timeline2 {
        width: inherit;
    }
    .timeline2 ul li h1 {
        font-size : 2rem;
    }

    .timeline2 ul li p {
        font-size : 1.2rem;
    }

}

@keyframes rubberLater {
    
    0% {
        transform : scale3d(1,1,1);
    }
    30% {
        transform : scale3d(1.25,0.75,1);
    }
    40% {
        transform : scale3d(0.75,1.25,1);
    }
    50% {
        transform : scale3d(1.15,0.85,1);
    }
    65% {
        transform : scale3d(0.95,1.05,1);
    }
    75% {
        transform : scale3d(1.05,0.95,1);
    }
    100% {
        transform : scale3d(1,1,1);
    }
}

/*End media queries