.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  font-family: 'Montserrat';
  height: 100vh;
}

.about-me-parent {
  max-width: 1000px;
  width: 70%;
}

.about-me-card {
  display: flex;
  width: 100%;
  box-shadow: 0 0 20px -2px #1f2335;
  height: 60vh;
}

.about-me-profile {
  width: 50%;
  background-image: url('../../assets/AboutMe/profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-me-details {
  width: 48%;
  text-align: justify;
  padding: 30px;
}

.about-me-description {
  font-weight: 500;
  font-size: 1rem;
}
.about-me-highlights {
  margin: 80px 0;
}

.highlight-heading {
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0 5px 0;
}

.highlight {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 1rem;
}

.highlight-blob {
  height: 5px;
  width: 5px;
  margin: 5px 10px 5px 0;
  background-color: #ff5823;
  border-radius: 50%;
}
.about-me-options .highlighted-btn {
  margin: 0 0 0 30px;
}

@media only screen and (max-width: 1110px) {
  .about-me-parent {
    width: 88%;
  }
  .about-me-options {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 898px) {
  .about-me-profile {
    display: none;
  }
  .about-me-details {
    width: 100%;
  }
}

@media only screen and (max-width: 466px) {
  .about-me-options {
    display: flex;
    flex-direction: column;
  }
  .about-me-options .highlighted-btn {
    margin: 24px 0 0 0 !important;
  }

  .about-me-options .primary-btn {
    margin: 24px 0 0 0;
  }
  .about-me-options a {
    width: 100%;
  }
  .about-me-options button {
    width: 100%;
  }
}
